In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from datetime import date
from datetime import time
from datetime import datetime
from datetime import timedelta

In [2]:
frames = []
start = datetime(2019,6,22)
count = 1
while count <= 8:
    df = pd.read_csv("http://web.mta.info/developers/data/nyct/turnstile/turnstile_"+
                    ((start-timedelta(days=7)).strftime("%y%m%d"))+".txt")
    frames.append(df)
    start = (start-timedelta(days=7))
    count += 1
    print(len(frames))

1
2
3
4
5
6
7
8

In [3]:
df = pd.concat(frames)
df.info()
df.to_pickle("data_import.pickle")

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1640586 entries, 0 to 203856
Data columns (total 11 columns):
C/A                                                                     1640586 non-null object
UNIT                                                                    1640586 non-null object
SCP                                                                     1640586 non-null object
STATION                                                                 1640586 non-null object
LINENAME                                                                1640586 non-null object
DIVISION                                                                1640586 non-null object
DATE                                                                    1640586 non-null object
TIME                                                                    1640586 non-null object
DESC                                                                    1640586 non-null object
ENTRIES                                                                 1640586 non-null int64
EXITS                                                                   1640586 non-null int64
dtypes: int64(2), object(9)
memory usage: 150.2+ MB